
section {
    padding: 15px 0;
}
section .section-title {
    text-align: center;
    color: #212529;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.list-unstyled {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
}
#footer {
    display: flex;
    background: #212529 !important;
    margin: 40px 0px;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
#footer h5{
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
    margin-top: 50px;
    text-align: center;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
     margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    color: black;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color: black;
}

#footer ul.quick-links li:hover{
    color: black;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
@media (max-width:767px){
  #footer h5 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}