#root{
    overflow: hidden;
}
.stories{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: calc(100% * 2.4);
    margin: 3px 0;
}
.white-border-story{
    width: 3.2%;
    border: solid 3px rgb(227, 224, 224);
    margin: 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.story{
    border-radius: 50%;
    width: 100%;
    height: 80px;
    margin: 3px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 46%;
    background-size: contain;
}
.story-image{
    background-repeat: no-repeat;
    background-position: 46%;
    background-size: cover;
    width: 100%;
    
}
.story-form {
    display: flex;
    justify-content: center;
}
.story-form img::after{
   visibility:hidden;
}
.progress{
    width: 100%;
    height: 4px;
    border-radius: 0;
}
.progress::-webkit-progress-bar{
    background-color: rgb(221, 219, 219);
}
.progress::-webkit-progress-value{
    background-color: red;
}

@media (max-width:1024px){
    .stories {
         width: calc(100% * 3);
    }
}

@media (max-width:821px){
    .stories {
         width: calc(100% * 4);
    }
}

@media (max-width: 414px ){
    .stories {
         width: calc(100% * 8);
    }
}
   
@media (max-width: 281px ){
    .stories {
         width: calc(100% * 10.2);
    }
}
